@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: navy;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 0.9rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(3, 0, 2, 0.1);
}

img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #4169E1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: silver;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem;
  background-color: #f9f9f9;
  gap: 4px;
}

.flex-item {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 30%;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  padding: 5rem;
  background-color: #e0e0e0;
}

.grid-item {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}
